{% load static %}

{% if message.author != request.user %}
<div class="message m-10" data-id="{{ message.id }}">
  <div class="message__author mb-10">
{% else %}
<div class="message message-right message__text-reverse m-10" data-id="{{ message.id }}">
  <div class="message__author message-reverse mb-10">
{% endif %}
  <img class="user__avatar message__avatar" src="
  {% if message.author.avatar %}
    {{ message.author.avatar.url }}
  {% endif %}"/>
    <span class="message__name ml-10 mr-10">{{ message.author.username }}</span>
    <span class="message__time">{{ message.date }}</span>
  </div>
  {% if message.text %}
    <span class="message__text">{{ message.text }}</span>
  {% endif %}
  {% if message.attachment_set.filter %}
    <div class="message__attachments-block">
    {% for attach in message.attachment_set.filter %}
      {% if 'image/' in attach.content_type %}
        <a href="{% get_media_prefix %}{{ attach.file }}">
          <img src="{% get_media_prefix %}{{ attach.file }}" class="message__attachment-content mt-10"/>
        </a>
      {% else %}
        <a class="message__attachment mt-10 link" href="{% get_media_prefix %}{{ attach.file }}">{{ attach.filename }}</a>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
</div>