{% load static %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

{% if message.author != request.user %}
<div class="message m-10" data-id="{{ message.id }}">
  <div class="message__author mb-10">
{% else %}
<div class="message message-right message__text-reverse m-10" data-id="{{ message.id }}">
  <div class="message__author message-reverse mb-10">
{% endif %}
  <img class="user__avatar message__avatar" src="
  {% if message.author.avatar %}
    {{ message.author.avatar.url }}
  {% endif %}"/>
    <span class="message__name ml-10 mr-10">{{ message.author.username }}</span>
    <span class="message__time">{{ message.date }}</span>
  </div>
  <span class="message__text">{{ message.text }}</span>
</div>