html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* formatting */

  /* margin: 10px */

.m-10 {
  margin: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

  /* margin: 20px */

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

  /* link */

.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
  /* buttons */

.green-btn {
  background-color: #54FF3A;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}

.green-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2em rgba(52,208,88,0.4);
}

  /* li */

.list-item {
  list-style-type: none;
  vertical-align: middle;
}

  /* boxes */

.main-box {
  background-color: #6360FF;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px 15px;
}

.error-box {
  background-color: #E86CD6;
  color: #ff0000;
  border-radius: 3px;
  padding: 20px 15px;
  word-wrap: break-word;
}

.simple-box {
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  padding: 20px 15px;
  word-wrap: break-word;
}

  /* title */

.title {
  margin-top: 0;
  text-align: center;
}

  /* form */

.form__label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.form__field {
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 20px;
}

.form__btn {
  width: 100%;
  height: 40px;
}

/***********/
/* content */
/***********/

/* header */

header {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #6360FF;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.header__elem {
  display: inline-flex;
  align-items: center;
}

.header__avatar {
  margin-left: 0;
}

.header__logout {
  width: 30px;
  height: 30px;
  background: url(../../../../authentication/static/authentication/img/x-button.svg) no-repeat;}

/* user */

.user__avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  vertical-align: middle;
}

/* site */

.site {
  display: inline-flex;
  align-items: center;
}

.site__logo {
  width: 40px;
  height: 40px;
  background: url(../img/logo.svg) no-repeat;
}

.site__name {
  font-size: 32px;
  font-weight: 400;
}
