// chat.scss

.chat {
  padding: 20px 60px;
  height: calc(100% - 60px - 60px);
  overflow: auto;
  box-sizing: border-box;
  // flex
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start; /* for not full width (like inline) */
}

.chat-panel {
  width: 35%;
  min-width: 200px;
}

// message

.message {
  max-width: 50%;
  padding: 10px 20px;
  background: #edeef0;
  border-radius: 30px;
  transition: background 0.2s linear;
}

.message-right {
  align-self: flex-end;

  &:hover {
    background: #47E8E7;
  }
}

.message__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message__time {
  color: #586069;
}

.message-reverse {
  flex-direction: row-reverse;
}

.message__text-reverse {
  text-align: right;
}

// input

#message__form {
  padding: 10px 20px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  background-color: #6360FF;
}

.input__elem {
  display: inline-block;
  vertical-align: middle;
}

.input__btn {
  width: 30px;
  height: 30px;
  border: none;
}

.input__pic-attach {
  background: url(/static/core/img/push-pin.svg/) no-repeat center;
}

.input__pic-send {
  background: url(/static/core/img/right-arrow.svg/) no-repeat center;
}

.input__field {
  background-color: #edeef0;
  width: calc(100% - 60px - 60px);
  height: 100%;
  border-radius: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
}
